**/.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/
notebooks2/*.ipynb
notebooks/*.ipynb

# Ignore local app and utilities
app2.py


# Sensitive files
.env

__pycache__/

# Jupyter checkpoints
.ipynb_checkpoints/
